<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.DocumentoMapper">

	<insert id="insertarDocumento">
	<selectKey  keyProperty= "id" keyColumn="codigo" resultType="int" order="BEFORE">
		SELECT ISNULL( MAX(codigo), 0) + 1	FROM Elemento
	</selectKey>
	
		INSERT INTO Elemento (
		codigo, 
		nombre, 
		fechaCreacion, 
		fechaUltimaActualizacion, 
		esPublico, 
		tipo, 
		estadoDocumento) 
			VALUES (
			#{id}, 
			#{documento.nombre},
			#{documento.fechaCreacion}, 
			#{documento.fechaUltimaActualizacion}, 
			#{documento.publico}, 
			1, 
			#{documento.estado.codigo})
	</insert>
	
	<update id="modificarDocumento">
		UPDATE Elemento		
		SET	nombre = #{documento.nombre},
			fechaCreacion = #{documento.fechaCreacion}, 
			fechaUltimaActualizacion = #{documento.fechaUltimaActualizacion}, 
			esPublico = #{documento.publico}, 
			estadoDocumento = #{documento.estado.codigo}
		WHERE codigo = #{documento.codigo}
			
	</update>

	<delete id="eliminarDocumento">
		DELETE FROM Elemento WHERE codigo = #{codigo}	
	
	</delete>
	

	<select id="seleccionarDocumento" resultMap="documentoResultMap">
	
		<include refid="baseSelectDocumento"/> and codigo = #{codigo}
	
	</select>
	
	<select id="seleccionarTodosLosDocumentos" resultMap="documentoResultMap">
	
		<include refid="baseSelectDocumento"/>
	
	</select>
	
	<select id="seleccionarDocumentoCodigoMaximo" resultType="integer">
	
		SELECT ISNULL( MAX(codigo), 0) + 1	FROM Elemento
	
	</select>
	
	
	<!--este trozo de sql lo vamos a utilizar como si fuera una variable que podemos utilizar por eso arriba concatenamos con el codigo para añadirle otro trozo  -->
	<sql id="baseSelectDocumento">
		SELECT codigo, 
			nombre, 
			fechaCreacion, 
			fechaUltimaActualizacion, 
			esPublico, 
			estadoDocumento
		FROM Elemento
		WHERE tipo = 1
	
	</sql>
	
	<resultMap id="documentoResultMap" type="es.fpdual.eadmin.eadmin.modelo.Documento">
		<constructor>
		   <idArg column="codigo" javaType="Integer"/>
		   <arg column="nombre" javaType="String"/>
		   <arg column="fechaCreacion" javaType="date"/>
		   <arg column="fechaUltimaActualizacion" javaType="date"/>
		   <arg column="esPublico" javaType="Boolean"/>
		   <arg column="estadoDocumento" javaType="es.fpdual.eadmin.eadmin.modelo.EstadoDocumento"/>
		</constructor>
	</resultMap>


</mapper>
